@tailwind base;
@tailwind components;
@tailwind utilities;

.grazybg::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        #FC466B,
        #3F5EFB,
        transparent 40%
    );
    transition: background 1s ease-in-out;
    transform-origin: center;
    filter: blur(100px);
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
